<div class="container pt-2">
  <div class="d-flex p-3">
    <h3>Your Bookmarks</h3>
  </div>
</div>
<section class="h-100 h-custom">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Activities</th>
                <th scope="col"><strong>Location</strong></th>
                <th scope="col"><strong>Adult Price</strong></th>
                <th scope="col"><strong>Child Price</strong></th>
                <th scope="col"><strong>Age Group</strong></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="bookmark-table">
              <% current_user.favorited_by_type('Activity').each_with_index do | bookmark, index | %>
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <%= image_tag bookmark.card_image, style: "width:200px; height:200px;,", class: "bookmark-img" %>
                      <div class="flex-column ms-4">
                        <p class="mb-2" style="font-weight: 500;"><%= bookmark.name %></p>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;">📍<%= bookmark.address %></p>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;"><%= number_to_currency(bookmark.adult_price) %></p>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;"><%= number_to_currency(bookmark.child_price) %></p>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;"><%= bookmark.age_group %></p>
                  </td>
                  <td class="align-middle">
                    <div class="d-flex justify-content-end">
                      <div class ="mx-10 px-10 text-end">
                        <% if bookmark.adult_price == 0 %>

                        <% else %>
                          <%= link_to "Book", new_activity_booking_path(bookmark), class: "btn btn-sm btn-book", style: "margin-right: 10px; background-color: #2dbdb4; color: white; border-radius: 10px" %>
                        <% end %>
                      </div>
                      <div class ="mx-10 px-10 text-end">
                        <%= link_to "Delete", unfavorite_activity_path(bookmark, page: 'bookmarks'), class: "btn btn-sm btn-delete", style: "margin-right: 10px; background-color: red; color: white; border-radius: 10px", data: {turbo_confirm: "Are you sure?"} %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container d-flex justify-content-center">
  <%= link_to "Return to Listing", activities_path, class: "btn btn-sm" , style: "background-color: red; color: white; border-radius: 10px" %>
</div>
