<div class="devise-container" style="margin-bottom: 50px;">
  <div class="container">
    <div class="grid" >
      <div class="col-6 mx-auto" >
        <div class="form">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="bg-white text-weight-medium mt-5 p-3" style="border-radius: 15px; border: solid 1px F5F5D; box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);">

            <div class="form-inputs" style= "height: 700px;">

              <div class="text-center">
                <br>
                <h2>Edit your profile</h2>
                <br>

              </div>

              <div class="mb-3" style="margin: 0 2rem">
                <%= f.input :email, required: true, autofocus: true %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>

              <div class="mb-3" style="margin: 0 2rem">
                <%= f.input :password,
                            hint: "Leave it blank if you don't want to change it",
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
              </div>

              <div class="mb-3" style="margin: 0 2rem">
                <%= f.input :password_confirmation,
                            required: false,
                            input_html: { autocomplete: "new-password" } %>
              </div>

              <div class="mb-3" style="margin: 0 2rem">
                <%= f.input :current_password,
                            hint: "We need your current password to confirm your changes",
                            required: true,
                            input_html: { autocomplete: "current-password" } %>
              </div>

              <div class="mb-3 gravatar_edit" style="margin: 0 2rem">
                <%= f.file_field :avatar, placeholder: 'Upload picture',direct_upload: true%>
              </div>

              <br>
              <br>

              <div class="form-actions" style="margin: 0 2rem;">
                <%= link_to "Return", root_path, class: "btn btn-outline-secondary", style: "margin-left: 65px; margin-right: 45px; width: 185px; height: 40px; border-radius: 5px;" %>
                <%= f.button :submit, "Update Profile", class: 'btn text-white', style: "width: 185px; height: 40px; border-radius: 5px; background-color: #f03827;" %>
              </div>

              <br>
              <br>

              <div class="text-center">
               <p>Click to delete your account: <%= link_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
              </div>

           </div>

          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
