<div class="container-fluid row mt-4 m-0 p-0">

  <div class="m-0 p-0 col-xxl-4">
    <div class="container-fluid">
      <div class="fixation-large m-0 p-0 col-xxl-4 pe-xxl-2">
        <h1 class="fw-bold">Your Bookings</h1>
        <%= month_calendar(events: @bookings) do |date, bookings| %>
          <h6><%= date.day %></h6>

          <% bookings.each do |booking| %>
            <% act = sprintf("%02d", "#{booking.activity.id}") %>
            <%=
              link_to %(<i class="fa-solid fa-location-pin"></i> #{act}).html_safe, booking_path(booking),
              class: %(badge badge-orange text-wrap mb-1),
              title: %(#{booking.activity.name})
            %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>

  <div class="m-0 p-0 col-xxl-8">
    <% @bookings.each do |booking| %>
      <% act = sprintf("%02d", "#{booking.activity.id}") %>
      <div class="container-fluid mb-3">
        <div class="card-body">
          <div class="card-review">
            <div class="row m-0">
              <div class="col-lg-4 col-md-6 mb-lg-0 mb-3 p-0 d-flex">
                <%= image_tag(booking.activity.card_image, class: %(img-preview bg-image flex-fill align-self-center), style: %(max-height: 250px;)) %>
              </div>
              <div class="col-lg-8 col-md-6 vstack">
                <span class="h2 fw-bold"><%= booking.activity.name %></span>
                <h6><i class="fa-solid fa-location-dot"></i> <%= booking.activity.address %></h6>
                <h4 class="purple-text fw-bold"><%= booking.start_time.strftime('%A, %d %b %Y') %></h4>
                <h6><i class="fa-solid fa-user-tie"></i></i> Organizer: <%= booking.activity.organizer.user.first_name %></h6>
                <h5>
                  <span class="badge badge-yellow text-wrap mb-lg-0 my-1"><%= booking.activity.category.name %></span>
                  <span class="badge badge-green text-wrap mb-lg-0 my-1">Booking Status: <%= booking.status %></span>
                  <span class="badge badge-orange-plain text-wrap mb-lg-0 my-1">Booking ID: <i class="fa-solid fa-location-pin"></i> <%= act %></span>
                </h5>
                <h6>
                  <span>Booked for: <%= booking.adult_qty %> adults,</span>
                  <span><%= booking.child_qty %> children</span>
                </h6>
                <div class="d-flex flex-wrap justify-content-between">
                  <h1 class="fw-bold">
                    <%= number_to_currency((booking.adult_qty * booking.activity.adult_price) + (booking.child_qty * booking.activity.child_price)) %>
                  </h1>
                  <div class="d-flex d-inline flex-wrap gap-2">
                    <%= link_to "Activity details", booking_path(booking), class: %(btn purple-btn-solid d-grid fs-6) %>
                    <%= link_to "Leave a review", new_booking_review_path(booking), class: %(btn purple-btn-outline d-grid fs-6) %>
                    <%= link_to "Cancel booking", booking_path(booking), class: %(btn red-btn-solid d-grid fs-6), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>


<!-- Previous working code

<div class="container-fluid">
  <h1 class="fw-bold">Your Bookings</h1>
  <div class="d-grid">
    <%= month_calendar(events: @bookings) do |date, bookings| %>
      <h6><%= date.day %></h6>

      <% bookings.each do |booking| %>
        <% act = sprintf("%02d", "#{booking.activity.id}") %>
        <%=
          link_to %(<i class="fa-solid fa-location-pin"></i> #{act}).html_safe, booking_path(booking),
          class: %(badge badge-orange text-wrap mb-2),
          title: %(#{booking.activity.name})
        %>
      <% end %>

    <% end %>
  </div>
</div>

<% @bookings.each do |booking| %>
  <% act = sprintf("%02d", "#{booking.activity.id}") %>
  <div class="container-fluid">
    <div class="card-body">
      <div class="card-review">
        <div class="row m-0">
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-3 p-0 d-flex">
            <%= image_tag(booking.activity.card_image, class: %(img-preview bg-image flex-fill align-self-center), style: %(max-height: 250px;)) %>
          </div>
          <div class="col-lg-9 col-md-6 vstack">
            <span class="h2 fw-bold"><%= booking.activity.name %></span>
            <h6><i class="fa-solid fa-location-dot"></i> <%= booking.activity.address %></h6>
            <h4 class="purple-text fw-bold"><%= booking.start_time.strftime('%A, %d %b %Y') %></h4>
            <h6><i class="fa-solid fa-user-tie"></i></i> Organizer: <%= booking.activity.organizer.user.first_name %></h6>
            <h5>
              <span class="badge badge-yellow text-wrap mb-lg-0 mb-2"><%= booking.activity.category.name %></span>
              <span class="badge badge-green text-wrap mb-lg-0 mb-2">Booking Status: <%= booking.status %></span>
              <span class="badge badge-orange-plain text-wrap mb-lg-0 mb-2">Booking ID: <i class="fa-solid fa-location-pin"></i> <%= act %></span>
            </h5>
            <h6>
              <span>Booked for: <%= booking.adult_qty %> adults,</span>
              <span><%= booking.child_qty %> children</span>
            </h6>
            <div class="d-flex flex-wrap justify-content-between">
              <h1 class="fw-bold">
                <%= number_to_currency((booking.adult_qty * booking.activity.adult_price) + (booking.child_qty * booking.activity.child_price)) %>
              </h1>
              <div class="d-flex d-inline flex-wrap gap-2">
                <%= link_to "Activity details", booking_path(booking), class: %(btn purple-btn-solid d-grid fs-6) %>
                <%= link_to "Leave a review", new_booking_review_path(booking), class: %(btn purple-btn-outline d-grid fs-6) %>
                <%= link_to "Cancel booking", booking_path(booking), class: %(btn red-btn-solid d-grid fs-6), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

-->


<!-- Old code

<div class="container mt-4">
  <h1 class="fw-bold">Your Bookings</h1>
  <div class="simple-calendar">
    <%= month_calendar(events: @bookings) do |date, bookings| %>
      <div>
        <%= date.day %>
      </div>

      <% bookings.each do |booking| %>
        <div class="card-header">
          <div class="card-title">
            <%= link_to booking.activity.name, booking_path(booking) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="">
    <% @bookings.each do |booking| %>
      <div class="card-product">

        <% if booking.activity.photo.key.nil? %>
         <%= image_tag(booking.activity.card_image, class: "img-preview bg-image") %>
        <% else %>
         <%= cl_image_tag booking.activity.photo.key, class: "img-fluid rounded-start image-tag" %>
        <% end %>

           <div class="card-product-infos">
              <h2><%= booking.activity.name %></h2>
              <p><%= booking.start_time.ctime %></p>
              <p><%= booking.activity.category.name %></p>
              <p><%= booking.adult_qty %></p>
              <p><%= booking.child_qty %></p>
              <p><%= booking.status %></p>
              <p><%= booking.activity.organizer.user.first_name %></p>
            </div>
            <div class = "text-end">
              <%= link_to "Details", booking_path(booking), class: %(btn btn-sm), style: "margin-right: 10px; background-color: #00888E; color: white; border-radius: 10px" %>
              <%= link_to "Leave a Review", new_booking_review_path(booking), class: %(btn btn-sm), style: "margin-right: 10px; background-color: #605DEC; color: white; border-radius: 10px" if booking.completed? %>
              <%= link_to "Cancel Booking", booking_path(booking), class: "btn btn-sm", style: "margin-right: 10px; background-color: #FF4747; color: white; border-radius: 10px", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
            </div>
      <%# <div>
        <table class="table table-striped table-hover text-center", style="border: black;">
          <thead>
            <tr>
              <div> %>
                <%# <th colspan="10">Activity</th>
                <th colspan="10">Date</th>
                <th colspan="10">Category</th>
                <th colspan="10">Adults</th>
                <th colspan="10">Children</th>
                <th colspan="10">Status</th>
                <th colspan="10">Organizer</th>
                <th colspan="10"></th> %>
              <%# </div>
            </tr>
          </thead> %>
      <div>
    <% end %>
  </div>
</div>

-->
