<div class="bg-container">

  <div class="card-trip pb-5">
    <%= image_tag(@activity.card_image, style: "height:400px;width:100%;object-fit:cover; padding-bottom: 20px;") %>
    <div class="card-trip-infos">

      <div class="container">

        <div class="row">
          <div class="col-5">
            <h1><%=@activity.name %></h1>
            <h6>Category: <%=@activity.category.name %></h6 >
            <br>
            <br>
            <h6><%=@activity.address %></h6>
            <p>
Fun filled activities for everyone! Bring your kids and and families to embark at our most popular venue yet. Come here for the the most enriching experience, and leave lasting fulfilled and wanting more!</p>
          </div>
          <div class="col-7">
              <%= simple_form_for [@activity, @booking,] do |f| %>
                <%= f.input :adult_qty %>
                <br>
                <%= f.input :child_qty %>
                <br>
                <%= f.input :start_time, label: "Booking Date" %>
                <br>
                <div class="">
                  <br>
                  <%= link_to "Return", bookings_path, class: "btn btn-outline-secondary fs-6 py-2 w-25" %>
                  <%= f.button :submit, "Submit", class: 'btn btn-outline-primary fs-6 py-2 ms-3 w-25' %>
              <% end %>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

</div>
