  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">

        <br>
        <br>
        <%= @activity.category%>
        <br>
        <br>

        <%= simple_form_for [@activity, @booking,] do |f| %>
          <%= f.association :activity %>
          <%= f.input :adult_qty %>
          <%= f.input :child_qty %>
          <%= f.input :adult_price %>
          <%= f.input :child_price %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
