<div class="container d-flex mb-2">
  <div>
    <div class="card mb-3 h-card" style="max-width: 700px;">
      <% @bookings.each do |booking| %>

        <div class="row g-0 s-card icon-container">
          <div class="col-md-4">
            <% if booking.activity.photo.key.nil? %>
              <%= image_tag(booking.activity.card_image, class: "img-fluid rounded-start image-tag") %>
            <% else %>
              <%= cl_image_tag booking.activitiy.photo.key, class: "img-fluid rounded-start image-tag" %>
            <% end %>
          </div>
          <div class="col-md-8">

            <div class="card-body">
              <h5 class="card-title"><strong><%= booking.activity.name %></strong></h5>
              <p class="card-text card-add"><%= link_to booking.activity.address, '#' %></p>
              <p class="card-text card-age">Suitable For Ages: <%= booking.activity.age_group %></p>
              <p class="card-text card-add">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>

              <br>

              <%= simple_form_for(booking) do |f| %>
               <%= f.input :status, collection: Booking::STATUSES, label: false%>
              <% end %>
             </div>

            </div>

          </div>
        </div>

      <% end %>
    </div>
  </div>
