<div>
  <% @bookings.last(6).each do |booking| %>
    <div class="container">
      <div class="row shadow mx-auto mt-3 border" style="border-radius: 20px;">
        <div class="col-4 p-0 m-0">
          <% if booking.activity.photo.key.nil? %>
            <%= image_tag(booking.activity.card_image, class: "img-fluid image-tag", style: "border-top-left-radius: 15px 15px; border-bottom-left-radius: 15px 15px;") %>
          <% else %>
            <%= cl_image_tag booking.activitiy.photo.key, class: "img-fluid rounded-start image-tag", style: "border-top-left-radius: 15px 15px; border-bottom-left-radius: 15px 15px" %>
          <% end %>
        </div>
        <div class="col-8">

          <div class="card-body ps-4 pt-4 pb-4">
            <h2 class="card-text" style="color:black"><strong><%= booking.activity.name %></strong></h2>
            <p class="card-text card-add">Booking From: <%= booking.user.first_name %></p>
            <p class="card-text card-add">Suitable For Ages: <%= booking.activity.age_group %></p>
            <br>
            <br>
            <p class="card-text card-add"><%= link_to booking.activity.address, '#' %></p>
            <p class="card-text card-add">Booking Created: <%= booking.start_time%></p>

            <br>

            <%= simple_form_for(booking) do |f| %>
              <div class="d-flex align-items-center" style="color:black">
                <%= f.input :status, collection: Booking::STATUSES, label: false, wrapper_html: { style: 'margin-bottom: 0 !important' } %>
                <%= f.submit 'Update', class: 'btn btn-primary' %>
              </div>
            <% end %>
            </div>

          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
