

<div>
  <% @bookings.each do |booking| %>
    <div class="container">
      <div class="row shadow-lg mx-auto mt-4 mb-4 border border-secondary">
        <div class="col-4 p-0 m-0">
          <% if booking.activity.photo.key.nil? %>
            <%= image_tag(booking.activity.card_image, class: "img-fluid rounded-start image-tag") %>
          <% else %>
            <%= cl_image_tag booking.activitiy.photo.key, class: "img-fluid rounded-start image-tag" %>
          <% end %>
        </div>
        <div class="col-8">

          <div class="card-body ps-4">
            <h5 class="card-title"><strong><%= booking.activity.name %></strong></h5>
            <p class="card-text card-add"><%= link_to booking.activity.address, '#' %></p>
            <p class="card-text card-age">Suitable For Ages: <%= booking.activity.age_group %></p>
            <p class="card-text card-add">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>

            <br>
            <br>
            <br>

            <p class="card-text card-add pb-2"><%= booking.status %>:</p>

            <%= simple_form_for(booking) do |f| %>
              <%= f.input :status, collection: Booking::STATUSES, label: false%>
              <%= f.submit %>
            <% end %>
            </div>

          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
