<div class="g-screen-container bg-warning text-center text-light fw-bold">Area below to be deleted</div>

<p>Activity Name: <%= @activity.name %></p>
<p>Activity ID: <%= @activity.id %></p>
<p>Activity Description: <%= @activity.description %></p>
<p>Activity Price: <%= number_to_currency(@activity.price) %></p>
<p>Activity Location: <%= @activity.location %></p>
<p>Activity Age Group: <%= @activity.age_group %></p>
<br>
<p>Booking Status: <%= @booking.status %></p>
<p>Booking Adults: <%= @booking.adult_qty %></p>
<p>Booking Children: <%= @booking.child_qty %></p>
<p>Booking Created at: <%= @booking.created_at %></p>
<p>Booking Updated at: <%= @booking.updated_at %></p>
<p>Booking User ID: <%= @booking.user_id %></p>
<p>Booking Activity ID: <%= @booking.activity_id %></p>
