<nav class="sticky-top w-100 navcon navbar navbar-expand-sm navbar-light navbar-lewagon shadow bg-white">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("logo.png", style: "height: 50px; width: 50px;") %>
      KidsTrotter
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <% if !user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>

        <% elsif current_user.try(:organizer) %>

          <li class="nav-item">
            <%= link_to "Create an Activity", new_activity_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Activities", activities_path, class: "nav-link" %>
          </li class="nav-item">

          <li class="nav-item">
            <% if current_user %>
              <%= link_to "", organizer_bookings_path, class: "fa-solid fa-bell fa-xl ps-3 pe-1", style: "margin-top: 20px;" %>
            <% else %>
              <%= link_to "", organizer_bookings_path, class: "fa-solid fa-bell fa-xl ps-3 pe-1", style: "margin-top: 20px;" %>
            <% end %>
          </li>

          <li class="nav-item dropdown">
             <% if current_user.avatar.attached?%>
              <%= image_tag(current_user.avatar, type: "button", alt: "avatar", class: "avatar", style: "margin-left: 20px; margin-bottom:5px; height: 40px; width: 40px;", id: "avatar", data: { aria_controls: "#kidstrotteroffcanvasadmin", bs_target: "#kidstrotteroffcanvasadmin", bs_toggle: "offcanvas" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% else %>
              <%= image_tag("avatar.png", type: "button", alt: "avatar", class: "avatar", style: "margin-left: 20px; margin-bottom:5px; height: 40px; width: 40px;", id: "avatar", data: { aria_controls: "#kidstrotteroffcanvasadmin", bs_target: "#kidstrotteroffcanvasadmin", bs_toggle: "offcanvas" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% end %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Activities", activities_path, class: "nav-link" %>
          </li class="nav-item">
          <li class="nav-item">
            <%= link_to "Bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Bookmarks", bookmarks_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Chat Support", "#", class: "nav-link" %>
          </li class="nav-item">

          <li class="nav-item dropdown">
            <% if current_user.avatar.attached?%>
              <%= image_tag(current_user.avatar, type: "button", alt: "avatar", class: "avatar", style: "margin-left: 20px; margin-bottom:5px; height: 40px; width: 40px;", id: "avatar", data: { aria_controls: "kidstrotteroffcanvas", bs_target: "#kidstrotteroffcanvas", bs_toggle: "offcanvas" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% else %>
              <%= image_tag("avatar.png", type: "button", alt: "avatar", class: "avatar", style: "margin-left: 20px; margin-bottom:5px; height: 40px; width: 40px;", id: "avatar", data: { aria_controls: "kidstrotteroffcanvas", bs_target: "#kidstrotteroffcanvas", bs_toggle: "offcanvas" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% end %>
          </li>

        <% end %>

      </ul>
    </div>
  </div>
</nav>
