<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1627764940620-90393d0e8c34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">

<div class="container">
  <h1 class="mb-3">Your handy dandy kids activities guide</strong>!</h1>

    <div class="row justify-content-left">
      <div class="col-4">

        <div class="form">
            <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,params[:query],class: "form-control search-bar", placeholder: "Search..."%>
            <%= submit_tag "Search", class: "btn btn-success" %>
            <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
<%# Nature, Wildlife, Indoor Playground, Museuems and Exhibitions, Outdoor Attractions %>

<section class="container mt-4">
  <div class="d-flex flex-row">
  <% @categories.each do |category| %>
    <%= link_to(category) do %>
    <div class="d-flex justify-content-between w-100">
      <div class="box border border-1 d-flex flex-column justify-content-center align-items-center icon-container" style="width: 180px;">
        <%= image_tag(category.icon_image || 'logo.png', style: "width: 50px; height: 50px;") %>
        <span class="text-center text-dark"><%= category.name %></span>
      </div>
    <% end %>
    </div>
  <% end %>
  </div>
</section>

<div class="container">
  <div>
  <%= link_to "All", activities_path, style: "float: right; margin-top: 1rem;" %>

  <h1 class="my-3">Trending Activities</h1>
  </div>
  <div class="row row-cols-3">
    <% @activities.first(3).each do |activity| %>
      <div class="col">
        <%= link_to activity_path(activity) do %>
          <div class="card-trip icon-container">
          <%= image_tag(activity.card_image) %>

            <div class="card-trip-infos">
                <div>
                  <h2><%= activity.name %></h2>
                  <p class="mb-1">📍<%= activity.address %></p>
                  <p><%= activity.description %></p>
                  <p>Suitable For Ages: <%= activity.age_group %></p>
                </div>
                <h2 class="card-trip-pricing">
                  <% if activity.adult_price == 0%>
                    Free
                  <% else %>
                    $<%= sprintf('%.2f', activity.adult_price) %>
                  <% end %>
                </h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
</div>

<div class="container">
  <div>
  <%= link_to "All", activities_path, style: "float: right; margin-top: 1rem;" %>

  <h1 class="my-3">Explore unique activities</h1>
  </div>
  <div class="row row-cols-3">
    <% @activities.sample(40).each do |activity| %>
      <div class="col">
        <%= link_to activity_path(activity) do %>
          <div class="card-trip icon-container">
          <%= image_tag(activity.card_image) %>

            <div class="card-trip-infos">
                <div>
                  <h2><%= activity.name %></h2>
                  <p class="mb-1">📍<%= activity.address %></p>
                  <p><%= activity.description %></p>
                  <p>Suitable For Ages: <%= activity.age_group %></p>
                </div>
                <h2 class="card-trip-pricing">
                  <% if activity.adult_price == 0 %>
                    Free
                  <% else %>
                    $<%= sprintf('%.2f', activity.adult_price) %>
                  <% end %>
                </h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <br>
</div>
