<div class="container">
  <h1>All Activities</h1>
  <div class="form">
    <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,params[:query],class: "form-control search-bar", placeholder: "Search..."%>
      <%= submit_tag "Search", class: "btn btn-success search-btn" %>
    <% end %>
  </div>
</div>
<div class="container d-flex mb-2">
  <div>
    <div class="card mb-3 h-card" style="max-width: 700px;">
      <% @activities.each do |activity| %>



        <div class="row g-0 s-card icon-container">
          <div class="col-md-4">
            <% if activity.photo.key.nil? %>
              <%= image_tag(activity.card_image, class: "img-fluid rounded-start image-tag") %>
            <% else %>
              <%= cl_image_tag activity.photo.key, class: "img-fluid rounded-start image-tag" %>
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><strong><%= activity.name %></strong></h5>
              <p class="card-text card-add">📍<%= link_to activity.address, '#' %></p>
              <p class="card-text card-age">Suitable For Ages: <%= activity.age_group %></p>
              <p class="card-text card-add">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
              <p class="card-trip-pricing card-price">
                <% if activity.adult_price == 0%>
                  Free
                <% else %>
                  From S$<%= sprintf('%.2f', activity.adult_price) %>
                <% end %>
              </p>
              <%= link_to('More details', activity_path(activity), class: "btn purple-btn-solid btn-detail mt-2 fs-6", type: "button", style: "border-radius: 5px; padding: 1px 10px 1px 10px") %>
              <p class="card-text card-rating">4.9 reviews (2153)</p>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <div style="width: 700px; height: 500px; float: right; position: sticky; bottom: 1rem;
  align-self: flex-end; margin-top: 15px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
