<div class="container mt-4">

  <h1>All Activities</h1>
  <div class="form">
    <div class="searchbar">
    <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control search-bar", placeholder: "Search..."%>
      <%= submit_tag "Search", class: "btn search-btn" %>
    </div>
    <div class="filters">
    <label for="Require Payment" class="taglabel">Require Payment:</label>
    <span class="selecttag">
      <%= select_tag :require_payment, options_for_select([
        ["All", "Payment Status"],
        ["Free", false],
        ["Paid", true]
        ], selected: params[:require_payment]
        )%>
        </span>
    <label for="Price" class="taglabel">Price:</label>
    <span class="selecttag">
      <%= select_tag :adult_price, options_for_select([
        ["Price (Lowest first)", "lowest"],
        ["Price (Highest first)","highest"],
        ], selected: params[:adult_price],
        )%>
        </span>
    <label for="Categories" class="taglabel">Categories:</label>
     <span class="selecttag">
      <%= select_tag :category, options_for_select([
        ["All", nil]].concat(@categories.map { |category| [category.name, category.id] }), selected: params[:category],
        )%>
        </span>
  <% end %>
  </div>
  </div>
</div>

<div class="container d-flex mb-2">

  <div>
    <div class="card mb-3 h-card" style="max-width: 700px;">
      <% @activities.each do |activity| %>

        <div class="row g-0 s-card">
          <div class="col-md-4">
            <% if activity.photo.key.nil? %>
              <%= image_tag(activity.card_image, class: "img-fluid rounded-start image-tag") %>
            <% else %>
              <%= cl_image_tag activity.photo.key, class: "img-fluid rounded-start image-tag" %>
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body" data-controller="name-button-search-trigger">
              <button class="card-title" data-action="click->name-button-search-trigger#queryinput" name-button-search-trigger-target="namebtn" style="font-family: Nunito ; font-size: 1.25 rem ; font-weight: bolder; border: none; font-weight: bolder;"><%= activity.name %></button>

              <div class="bookmark-container" data-controller="bookmark">
                <%= render 'bookmark', activity: activity %>
              </div>

              <p class="card-text card-add">📍<%= link_to activity.address, '#' %></p>
              <p class="card-text card-age">Suitable For Ages: <%= activity.age_group %></p>
              <p class="card-text card-add">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
              <p class="card-trip-pricing card-price">
                <% if activity.require_booking == false %>
                  Free
                <% else %>
                  From S$<%= sprintf('%.2f', activity.adult_price) %>
                <% end %>
              </p>
              <%= link_to('More details', activity_path(activity), class: "btn purple-btn-solid btn-detail mt-2 fs-6", type: "button", style: "border-radius: 5px; padding: 1px 10px 1px 10px") %>
              <p class="card-text card-rating">⭐</i>4.9 reviews (2153)</p>

            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <div style="width: 700px; height: 100%; min-height: 90vh; float: right; position: sticky; bottom: 1rem; align-self: flex-end; margin-top: 15px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
