<div class="g-screen-container">
  <div class="row">
    <div class="col-lg-6 bg-success">
      activity picture
    </div>
    <div class="col-lg-6 bg-danger">
      <div><h1 class="m-0 p-3"><%= @activity.name %></h1></div>
      <div><p class="m-0 p-3"><%= @activity.description %></p></div>
      <div class="d-flex justify-content-between p-3">
        <div class="d-flex flex-column">
          <div>Price</div>
          <div><%= @activity.price %></div>
        </div>
        <div class="d-flex flex-column">
          <div class="p-2"><button>Bookmark</button></div>
          <div class="p-2"><button>Book now</button></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="g-screen-container bg-warning text-center text-light fw-bold">Area below to be deleted</div>
<h1><%= @activity.name %></h1>

<p>Description: <%= @activity.description %></p>
<p>Price: <%= @activity.price %></p>
<p>Location: <%= @activity.location %></p>
<p>Suitable For Ages: <%= @activity.age_group %></p>

<!-- button -->
<%= simple_form_for [@activity] do |f| %>
  <%= f.submit %>
<% end %>
