<div class="g-screen-container">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-3">
        <img
          src="https://via.placeholder.com/1400x900"
          alt="Placeholder Image"
          class="img-fluid"
        />
      </div>
      <div class="col-md-9 d-flex align-items-between flex-column">

        <div class="card-body">
          <h1 class="card-title fw-bold"><%= @activity.name %></h1>
          <p class="mb-2">How many reviews | Bookings | Address</p>

          <div class="row">
            <div class="col-lg-6 col-md-12 mb-lg-0">
              <img
                src="https://via.placeholder.com/1400x2000"
                class="w-100 shadow-1-strong rounded"
                alt="Wintry Mountain Landscape"
              />
            </div>

            <div class="col-lg-6 mb-lg-0">
              <img
                src="https://via.placeholder.com/1000x700"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds"
              />

              <img
                src="https://via.placeholder.com/1000x700"
                class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water"
              />
            </div>

          </div>

          <p class="card-text lead">
            <%= @activity.description %>
          </p>
        </div>

        <div class="card-footer d-flex flex-wrap align-content-between justify-content-between">
          <div class="h2 align-middle m-0">Price: <%= @activity.price %></div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end align-middle">
            <button class="btn btn-primary me-md-2" type="button">Bookmark</button>
            <button class="btn btn-primary" type="button">Book Now</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




<div class="g-screen-container bg-warning text-center text-light fw-bold">Area below to be deleted</div>
<h1><%= @activity.name %></h1>

<p>Description: <%= @activity.description %></p>
<p>Price: <%= @activity.price %></p>
<p>Location: <%= @activity.location %></p>
<p>Suitable For Ages: <%= @activity.age_group %></p>

<!-- button -->
<%= simple_form_for [@activity] do |f| %>
  <%= f.submit %>
<% end %>
