<div class="g-screen-container">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6">
        <img
          src="https://via.placeholder.com/1400x900"
          alt="Placeholder Image"
          class="img-fluid rounded-start"
        />
      </div>
      <div class="col-md-6 d-flex align-items-between flex-column">

        <div class="card-body">
          <h1 class="card-title fw-bold"><%= @activity.name %></h1>
          <p class="card-text lead">
            <%= @activity.description %>
          </p>
        </div>

        <div class="card-footer d-flex flex-wrap align-content-between justify-content-between">
          <div class="h2 align-middle m-0">Price: <%= @activity.price %></div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end align-middle">
            <button class="btn btn-primary me-md-2" type="button">Bookmark</button>
            <button class="btn btn-primary" type="button">Book Now</button>
            <p><%= link_to "Book Now",  new_activity_booking_path(@activity), class: 'btn' %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="g-screen-container bg-warning text-center text-light fw-bold">Area below to be deleted</div>
<h1><%= @activity.name %></h1>

<p>Description: <%= @activity.description %></p>
<p>Price: <%= @activity.price %></p>
<p>Location: <%= @activity.location %></p>
<p>Suitable For Ages: <%= @activity.age_group %></p>

<!-- button -->
<%= simple_form_for [@activity] do |f| %>
  <%= f.submit %>
<% end %>
