<div class="g-screen-container">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-3">

        <form class="form-purple p-4 m-4">
          <div class="form-outline mb-4">
            <h3 class="fw-bold">Search</h3>
            <label class="form-label">Name of Attraction</label>
            <input type="text" placeholder="Universal Studios" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Visit Date</label>
            <input type="date" class="form-control" />
          </div>

          <div class="row mb-4">
            <div class="col vstack">
              <div class="row">
                <div class="col form-outline mb-4">
                  <label class="form-label">Adults</label>
                  <input type="number" min="0" placeholder="0" class="form-control" />
                </div>
                <div class="col form-outline mb-4">
                  <label class="form-label">Children</label>
                  <input type="number" min="0" placeholder="0" class="form-control" />
                </div>
              </div>
              <!-- Checkbox -->
              <div class="form-check">
                <input id="indoors" class="form-check-input" type="checkbox">
                <label for="indoors" class="form-check-label"> Indoors </label>
              </div>
              <div class="form-check">
                <input id="outdoors" class="form-check-input" type="checkbox">
                <label for="outdoors" class="form-check-label"> Outdoors </label>
              </div>
            </div>
          </div>

          <!-- Submit button -->
          <div class="d-grid">
            <%= link_to "Search",  "", class: %(btn btn-primary form-purple-btn), type: %(submit) %>
          </div>
        </form>

      </div>
      <div class="col-md-9 d-flex align-items-between flex-column">

        <div class="card-body">
          <h1 class="card-title fw-bold"><%= @activity.name %></h1>
          <p class="mb-2"><i class="fa-solid fa-star"></i> Reviews qty | <i class="fa fa-book"></i> Bookings qty | <i class="fa-solid fa-location-dot"></i> <%= @activity.address %></p>

          <div class="row">
            <div class="col-lg-8 col-md-12 mb-lg-0 mb-3">
              <div class="img-preview bg-image" style="height: 600px; background-image: url(<%="#{@activity.image_url}"%>);"></div>
            </div>

            <div class="col-lg-4 mb-lg-0 d-grid">
              <div class="img-preview bg-primary align-self-top mb-2" style="height: 290px;"></div>

              <div class="img-preview bg-danger align-self-end mt-2" style="height: 290px;"></div>
            </div>

          </div>

          <p class="card-text lead">
            <%= @activity.description %>
          </p>
        </div>

        <div class="card-footer d-flex flex-wrap align-content-between justify-content-between">
          <div class="h2 align-middle m-0">Adult Price: <%= number_to_currency(@activity.adult_price) %></div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end align-middle">
            <%= link_to "Bookmark (No link yet)",  "", class: %(btn btn-primary) %>
            <%= link_to "Book Now",  new_activity_booking_path(@activity), class: %(btn btn-primary) %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




<div class="g-screen-container bg-warning text-center text-light fw-bold">Area below to be deleted</div>
<h1><%= @activity.name %></h1>

<p>Description: <%= @activity.description %></p>
<p>Adult Price: <%= number_to_currency(@activity.adult_price) %></p>
<p>Location: <%= @activity.address %></p>
<p>Suitable For Ages: <%= @activity.age_group %></p>

<!-- button -->
<%= simple_form_for [@activity] do |f| %>
  <%= f.submit %>
<% end %>

<div style="width: 400px; height: 400px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
