<div class="g-screen-container">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-3">

        <form class="form-purple p-4 m-4">
          <div class="form-outline mb-4">
            <h4 class="fw-bold">Search</h4>
            <label class="form-label">Name of Attraction</label>
            <input type="text" placeholder="Universal Studios" class="form-control" />
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Visit Date</label>
            <input type="date" class="form-control" />
          </div>

          <div class="row mb-4">
            <div class="col vstack">
              <div class="row">
                <div class="col form-outline mb-4">
                  <label class="form-label">Adults</label>
                  <input type="number" min="0" placeholder="0" class="form-control" />
                </div>
                <div class="col form-outline mb-4">
                  <label class="form-label">Children</label>
                  <input type="number" min="0" placeholder="0" class="form-control" />
                </div>
              </div>
              <!-- Checkbox -->
              <div class="form-check">
                <input id="indoors" class="form-check-input" type="checkbox">
                <label for="indoors" class="form-check-label"> Indoors </label>
              </div>
              <div class="form-check">
                <input id="outdoors" class="form-check-input" type="checkbox">
                <label for="outdoors" class="form-check-label"> Outdoors </label>
              </div>
            </div>
          </div>

          <!-- Submit button -->
          <div class="d-grid">
            <%= link_to "Search",  "", class: %(btn btn-primary form-purple-btn), type: %(submit) %>
          </div>
        </form>

        <form class="form-purple fw-bold p-2 m-4">
          <div id="ww_d048d7a91d69b" v='1.3' loc='id' a='{"t":"responsive","lang":"en","sl_lpl":1,"ids":["wl2912"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#B6B2F3","cl_font":"#000000","cl_cloud":"#d4d4d4","cl_persp":"#2196F3","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","cl_odd":"#0000000a"}'><a href="https://weatherwidget.org/tr/" id="ww_d048d7a91d69b_u" target="_blank">Web Sitesi için Ücretsiz HTML Hava Durumu Widget</a></div><script async src="https://app1.weatherwidget.org/js/?id=ww_d048d7a91d69b"></script>
        </form>

        <form class="form-purple p-4 m-4">
          <div class="form-outline mb-4">
            <h5 class="fw-bold">Package details</h5>
            <h6><span class="d-grid badge badge-pink text-wrap text-start">No cancellation</span></h6>
            <h6><span class="d-grid badge badge-pink text-wrap text-start">Instant confirmation</span></h6>
            <h6><span class="d-grid badge badge-pink text-wrap text-start">Book now for today</span></h6>
          </div>

          <div class="form-outline mb-4">
            <h5 class="fw-bold">Eligibility</h5>
            <h6><span class="d-grid badge badge-green text-wrap text-start">Children aged 0-3 can enter free of charge</span></h6>
          </div>

          <div class="form-outline mb-4">
            <h5 class="fw-bold">Opening hours</h5>
            <h6><span class="d-grid badge badge-yellow text-wrap text-start">Monday to Sunday: 8:30am-6:00pm</span></h6>
          </div>
        </form>

        <form class="form-purple p-3 m-4">
          <div style="height: 400px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </form>
      </div>
      <div class="col-md-9 d-flex align-items-between flex-column">

        <div class="card-body">
          <h1 class="card-title fw-bold"><%= @activity.name %></h1>
          <p class="mb-2"><i class="fa-solid fa-star"></i> Reviews qty | <i class="fa fa-book"></i> Bookings qty | <i class="fa-solid fa-location-dot"></i> <%= @activity.address %></p>

          <div class="row">

            <div class="col-lg-8 col-md-12 mb-lg-0 mb-3 d-flex align-items-center">
              <% if @activity.photo.key.nil? %>
                <%= image_tag(@activity.card_image, class: "img-fluid img-preview image-tag flex-fill", style: "height: 600px;") %>
              <% else %>
                <%= cl_image_tag @activity.photo.key, class: "img-fluid img-preview image-tag flex-fill", style: "height: 600px;" %>
              <% end %>
            </div>


            <div class="col-lg-4 mb-lg-0 d-grid">
              <div class="img-preview bg-image align-self-end mb-2" style="background-image: url('https://picsum.photos/800?random=1'); height: 290px;"></div>
              <div class="img-preview bg-image align-self-end mt-2" style="background-image: url('https://picsum.photos/800?random=2'); height: 290px;"></div>
            </div>

          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-lg-8 col-md-12 mb-lg-0 mb-3">
              <div class="card-activity">
                <span class="h5 lh-sm fw-bold"><p>Description: <%= @activity.description %></p></span>
                <span class="h5 lh-sm fw-bold"><p>Suitable For Ages: <%= @activity.age_group %></p></span>
              </div>
            </div>

            <div class="col-lg-4 mb-lg-0">
              <div class="card-activity text-center">

                <div class="d-flex flex-column" style="height: 100%;">
                  <div class="p-2 h5 m-0 fw-bold">Pricing</div>
                  <div class="p-2 h6 m-0">Adult: <span class="fw-bold"><%= number_to_currency(@activity.adult_price) %></span></div>
                  <div class="p-2 h6 m-0">Child: <span class="fw-bold"><%= number_to_currency(@activity.child_price) %></span></div>
                  <div class="mt-auto">

                    <div class="row">
                      <div class="col-lg-6 mb-lg-0 mb-3">
                        <%= simple_form_for([@activity, @bookmark]) do |f| %>
                          <%= f.submit "Bookmark", class: %(btn purple-btn-solid flex-fill fs-6 py-2) if !is_organizer? %>
                        <%end%>
                      </div>

                      <div class="col-lg-6 mb-lg-0 mb-3">
                        <%= link_to "Book Now", new_activity_booking_path(@activity), class: %(btn purple-btn-outline d-grid fs-6 py-2) if !is_organizer? %>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="card-body">
          <h2 class="m-0 fw-bold">Most recent reviews</h2>
        </div>

        <div class="card-body">
          <div class="card-review">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-inline h5 fw-bold">
                <span><img src="https://picsum.photos/80?random=1" class="avatar m-2"></span>
                <span>Monsieur Jean Pierre</span>
                <p class="py-2"><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
              </div>
              <div class="d-inline my-2">Yesterday</div>
            </div>
            <p class="m-0">Had a wonderful and fun time with my family. Recommended for all to go and have fun.</p>
          </div>
        </div>

        <div class="card-body">
          <div class="card-review">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-inline h5 fw-bold">
                <span><img src="https://picsum.photos/80?random=2" class="avatar m-2"></span>
                <span>Yifei Chen</span>
                <p class="py-2"><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
              </div>
              <div class="d-inline my-2">Yesterday</div>
            </div>
            <p class="m-0">Hassle-free redemption.</p>
          </div>
        </div>

        <div class="card-body">
          <div class="card-review">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-inline h5 fw-bold">
                <span><img src="https://picsum.photos/80?random=3" class="avatar m-2"></span>
                <span>Xiao Ming</span>
                <p class="py-2"><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></p>
              </div>
              <div class="d-inline my-2"><%= Time.now.ctime%></div>
            </div>
            <p class="m-0">Fantastic experience!! You just need the voucher and scan at the entrance. Very easy to use and saves you time and money on purchasing as well.</p>
            <div class="d-flex d-inline gap-4 flex-wrap justify-content-center">
              <div><img src="https://picsum.photos/150?random=1" class="img-round-corners"></div>
              <div><img src="https://picsum.photos/150?random=2" class="img-round-corners"></div>
              <div><img src="https://picsum.photos/150?random=3" class="img-round-corners"></div>
              <div><img src="https://picsum.photos/150?random=4" class="img-round-corners"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Hidden Area

<div class="g-screen-container bg-warning text-center text-light fw-bold">Area below to be deleted</div>
<h1><%= @activity.name %></h1>

<p>ID: <%= @activity.id %></p>
<p>Description: <%= @activity.description %></p>
<p>Adult Price: <%= number_to_currency(@activity.adult_price) %></p>
<p>Location: <%= @activity.address %></p>
<p>Suitable For Ages: <%= @activity.age_group %></p>
<p>Activity Latitude: <%= @activity.latitude %></p>
<p>Activity Longitude: <%= @activity.longitude %></p>



<%= simple_form_for [@activity] do |f| %>
  <%= f.submit %>
<% end %>

-->
