<div class="container-fluid row mt-4 m-0 p-0">
  <h1 class="fw-bold mb-4">Your Reviews</h1>

  <div class="m-0 p-0">
    <% @reviews.each_with_index do | review, index | %>
      <% act_name = review.booking.activity.name %>
      <% category = review.booking.activity.category.name %>
      <% address = review.booking.activity.address %>
      <% booktime = review.booking.start_time.strftime('%A, %d %b %Y') %>
      <% org_fName = review.booking.activity.organizer.user.first_name %>
      <% org_lName = review.booking.activity.organizer.user.last_name %>
      <% qty_adult = review.booking.adult_qty %>
      <% qty_child = review.booking.child_qty %>
      <% price_adult = review.booking.activity.adult_price %>
      <% price_child = review.booking.activity.child_price %>
      <% comment = review.comment %>
      <% stars = review.rating %>
      <% image = review.booking.activity.card_image %>
      <%
        remove_review =
        link_to "Delete", review_path(review),
        class: %(btn red-btn-solid d-grid flex-fill fs-6),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
      <%
        act_details =
        link_to "Activity details",
        activity_path(review.booking.activity),
        class: %(btn purple-btn-solid d-grid flex-fill fs-6)
      %>

      <div class="container-fluid mb-3">
        <div class="card-body">
          <div class="card-review">
            <div class="row m-0">
              <div class="col-lg-3 col-md-6 mb-lg-0 mb-3 p-0 d-flex">
                <%= image_tag(image, class: %(img-preview bg-image flex-fill align-self-center), style: %(max-height: 250px;)) %>
              </div>
              <div class="col-lg-9 col-md-6 vstack">
                <span class="h2 fw-bold">#<%= index + 1 %> <%= act_name %></span>
                <h6><i class="fa-solid fa-location-dot"></i> <%= address %></h6>
                <h4 class="purple-text fw-bold"><%= booktime %></h4>
                <h6><i class="fa-solid fa-user-tie"></i></i> Organizer: <%= org_fName %> <%= org_lName %></h6>
                <h5>
                  <span class="badge badge-yellow text-wrap mb-lg-0 my-1"><%= category %></span>
                  <span>Booked for: <%= qty_adult %> adults,</span>
                  <span><%= qty_child %> children</span>
                  <span>(<%= number_to_currency((qty_adult * price_adult) + (qty_child * price_child)) %>)</span>
                </h5>
                <h4>
                  <span class="badge badge-bisque d-grid text-start text-wrap mb-lg-0 my-1">

                    <h5 class="py-2">
                      <% stars.times do %>
                        <i class="fa-solid fa-star"></i>
                      <% end %>
                      <% (5 - stars).times do %>
                        <i class="fa-regular fa-star"></i>
                      <% end %>
                    </h5>

                    <p><%= comment %></p>
                  </span>
                </h4>
                <div class="d-flex flex-wrap justify-content-between">
                  <div class="d-flex d-inline flex-wrap gap-1 py-2">
                    <%= remove_review %>
                    <%= act_details %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>

</div>
