<div class="bg-container">

  <div class="card-trip pb-5">
    <%= image_tag(@booking.activity.card_image, style: "height:400px;width:100%;object-fit:cover; padding-bottom: 20px;") %>
    <div class="card-trip-infos">

      <div class="container">

        <div class="row">
          <div class="col-5">
            <h1><%=@booking.activity.name %></h1>
          </div>
          <div class="col-7">
              <%= simple_form_for [@booking, @review,] do |f| %>
                <%= f.input :rating, collection: (1..5).to_a, label: "Your Rating:", input_html: {data: {controller: "star-rating"}} %>
                <br>
                <%= f.input :comment %>
                <br>
                <div class="">
                  <%= link_to "Return", reviews_path, class: "btn btn-outline-secondary" %>
                  <%= f.button :submit, "Submit", class: 'btn btn-outline-primary' %>
              <% end %>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>


</div>
